<section class="card">
  <a href="/posts/{{id}}">
    <header>{{title}}</header>
  </a>
   <h2> user {{user.username}}</h2>
  <p>{{post_body}}</p>
  {{!-- <textarea name="comments" id="comment" cols="100" rows="5"></textarea> --}}
   
  
</section>