<div class="createPost">
    <h2>Create New Post</h2>
     <form class="post-form">
        <div class="form">
        <label class="label" for="title">Title</label>
        </div>
        <div class="form">
        <input class="input" type="text" id="title">
        </div>
        <div class="form">
        <label class="label" for="Content">Post Body</label>
        </div>
        <div class="form">
        <textarea class="input" type="text" id="content">
        </textarea>  
        </div>
        <button id="create">Create</button>
    </form>
</div>


<script src="/js/create.js"></script>