<h2>Create your Username</h2>

<form class="form create-form">
  <div class="form-group">
    <label for="email-create">email:</label>
    <input class="form-input" type="text" id="email-create" />
  </div>
  <div class="form-group">
    <label for="password-create">password:</label>
    <input class="form-input" type="password" id="password-create" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">create</button>
  </div>
</form>

<script src="/js/createUser.js"></script>
