<section class="container">
  <h3 class="post-title">{{post.title}}</h3>
 
  <section class="flex-row justify-center">
    {{#each posts as |posts|}}
    {{>post-details}}
    {{/each}}
  </section>
</section>